@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vh;
}

@media screen and (max-width: 320px) {
  #__next {
    display: flex
  }
}

.tooltip {
  --tooltip-offset:calc(100% + 6px + var(--tooltip-tail,0px));
  --tooltip-tail-offset: calc(100% + 6px - var(--tooltip-tail));
}

.text-gradient {
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}

.custom-container {
  z-index: 0;
  place-items: center;
  padding: 2rem;
}

html, body {
  scroll-behavior: smooth;
  font-family: 'Rubik', sans-serif;
}